body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

header{
  max-width: 100%;
  background: url(images/1.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 40vh;
}
header .header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.1);
}

header .header h1{
  color: white;
  margin-left: 40px;
  text-transform: uppercase;
}

header .header nav a{
  padding: 0 40px 0 0;
  font-size: 30px;
  text-decoration: none;
  color: white;
}
header .header nav a:hover{
  color: rgba(255,255,255,0.8);
}


section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
section h2{
  font-size: 30px;
}
section .products{
  display: flex;
}
section .product{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 10px;
}

section .products .product img{
  width: 30vw;
}
section .products .product p{
  text-indent: 10px;
  text-align: justify;
  margin-top: -14px;
}
section .products .product a{
  text-decoration: none;
  display:block;
  font-size: 24px;
  font-weight: bolder;
  padding: 4px 20px 4px 20px;
  background-color: rgb(144, 12, 62);
  text-align: center;
  vertical-align: middle;
  color: white;
}

section .products .product a:hover,
section .products .product a:active
{
  color: color: rgba(255,255,255,0.8);
  background-color: rgba(144, 12, 62,0.8);;
}

footer{
  text-align: center;
  background-color: rgba(144, 12, 62,0.2);
  padding: 1px;

}



.place{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #D6EFEC;
}
.place img{
  width: 46vw;
  box-shadow: 0 2px 4px black;
  margin-top: 10px;
}
.place p{
  margin-top: -10px;
  padding: 0 80px 0 80px;
  font-size: 24px;
}

.place a{
  text-decoration: none;
  display:block;
  font-size: 24px;
  font-weight: bolder;
  padding: 4px 20px 4px 20px;
  background-color: rgb(144, 12, 62);
  text-align: center;
  vertical-align: middle;
  color: white;
}

.place a:hover,
.place a:active
{
  color: color: rgba(255,255,255,0.8);
  background-color: rgba(144, 12, 62,0.8);;
}

@media screen and (min-width:230px) and (max-width:760px){
  header .header{
    flex-direction: column;
  }
  header .header h1{
    margin: 10px 0 10px 0;
  }
  header .header nav a{
    display: block;
    padding: 10px;
  }
  section .products{
    flex-direction: column;
  }
  section .products{
    width: 80vw;
  }
  section .products .product{
    width: 80vw;
  }
  section .products .product img{
    width: 80vw;
  }
  .place{
    height: auto;
    padding-bottom: 20px;
  }
  .place img{
    width: 80vw;
  }
  .place p{
    padding: 30px;
  }
}
